<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuck Norrise naljad</title>
    <style>
        h1 {text-align: center;}
        p {text-align: center; font-size: 2.5vw}
        div {text-align: center;}
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width:100%;
            height:auto;
        }
    </style>
    <link rel="icon" href="https://pngimg.com/uploads/chuck_norris/chuck_norris_PNG13.png">
</head>
<body>
    <img src="https://pngimg.com/uploads/chuck_norris/chuck_norris_PNG13.png">
    <p th:text="${joke}">Shows joke here...</p>


</body>
</html>