<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chuck Norrise nali</title>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <img src="https://pngimg.com/uploads/chuck_norris/chuck_norris_PNG13.png">
    <p th:text="${joke}">Shows joke here...</p>


</body>
</html>